html {
    scroll-behavior: smooth;
}


body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    background-image: url('imagens/textura-papel-pexels.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    padding-top: 5px;
}

header {
    background-color: #600018;
    margin: 20px;
    padding: 10px 20px;
    text-align: center; 
    border-radius: 50px;  
    justify-content: space-between; 
    width: 100%;
    
}
.header-container{
    display:flex;
    align-items: center;
    position: fixed;
    width: 100%;
    
      
}
.logo-container {
    margin-right: 5px;
    padding: 1px 20px ;
  
   
}
.logo {
    height: 70px;

}
.home-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0;
    margin-top: 80px;
}
.logohome {
    padding:  20px;

}

nav {
    margin-top: 0px;
    display: flex;
    gap: 20px; 
    justify-content: space-evenly;
}
 
nav a {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 5px 5px;
    
    
}

nav a:hover {
   text-decoration: none;


}

p {
    text-align: center; 
    color: #4a0e13; 
    padding: 0px 200px ;
    margin: 0px auto;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

h2 {
    color: #600018;
    text-align: center;
    font-family: "Fleur De Leah", serif;
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
}

.foto-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.foto {
    width: 150px; 
    height: 150px;
    border-radius: 15%; 
    object-fit: cover; 
    box-shadow: 0 4px 6px rgba(12, 1, 1, 0.938); 
    border: 1px solid #600018;
}


.padrinhos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 40px;
}

.padrinhos-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
}


.padrinhos-nome {
    position: absolute;
    transform: translateX( 0%);
    margin-top: 10px;
    font-size: 1rem;
    color: #600018;
    font-weight: bold;
    
}







/*
.padrinhos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.padrinhos-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 180px;
}


    */